.DS_Store
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/crater_diffusion/old
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/crater_diffusion/model_weights
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/crater_diffusion/simulation_results
*.pyc
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/04_NN_Image_Classification/PINN
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/03_Classification/notebooks/basic_classifiers.ipynb
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/03_Classification/files
