.DS_Store
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/src/crater_diffusion/old
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/src/crater_diffusion/model_weights
/Users/phillipsm/Documents/Teaching/AI_in_PlanetaryXXX/Code/02_Curve_Fitting/notebooks/pinns/src/crater_diffusion/simulation_results

